{% extends 'base.html.twig' %}

{% block content %}
    {% for category in categories %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <a href="{{ path('category_show',{'id': category.id}) }}"> <h1 class="display-4">Catégorie : {{ category.name }}</h1></a>
        </div>
    </div>
{% endfor %}




{% endblock %}