{% extends 'base.html.twig' %}

{% block content %}
<h1>{{ category.name }}</h1>
    {% for categoryArticle in categoryArticles %}

        {{ categoryArticle.id }}: {{ categoryArticle.title }}<br>
        {{ categoryArticle.content }}<br><br>

    {% endfor %}

{% endblock %}