{% extends 'base.html.twig' %}
{% block content %}

    <img src="{{ asset("build/couleur.jpg") }}" class="color-line" alt="couleur">
    <h1 class="default-title">Bienvenue sur mon blog {{ app.user.firstname ?? '' }} !</h1>
{% endblock %}


