{% extends 'email/layout.html.twig' %}

{% block content %}
    L'article {{ article.title}} vient d'être ajouté au blog !

    <a href="{{ path('article_show',{'id':article.id}) }}">Voir l'article</a>
{% endblock %}

