{% extends 'email/layout.html.twig' %}
{% block content %}
<h1>Votre compte a bien été créer !</h1>

<br><br>
Votre identifiant est : {{ mail }}
<br><br>
Votre mot de passe est : {{ pass }}
<br><br>
{% endblock %}